<h3>Filtrado de peticiones</h3>
<div ng-init ="regresion.initCombo()">
<form name = "filtradoForm" ng-submit = "filtradoForm.valid">
		<table class= "tabla">
		<tr>
			<td>
				<label for="idPeticion">IdPeticion: </label>
        		<input type="text" ng-model="regresion.idPeticion" id="idPeticion" required/>
       		 </td>
       		 <td>
       		 	<label for="origen"> Origen: </label>
        		<select type = "text" id="origen" ng-model = "regresion.origen"><option  ng-repeat="o in regresion.origenArray" >{{o}}</option></select>
       		 </td>
       		 <td>
       		 	<label>Fecha peticion desde: </label>
       			<input calendar name = "date" id="fechaDesde"  ng-model="regresion.fechaDesde"/>
       		 </td>
       	</tr>
       	
       	<td>
				<label for="instrumento">Instrumento: </label>
        		<select id="instrumento" ng-model = "regresion.instrumento"> <option  ng-repeat="i in regresion.instrumentoArray" >{{i}}</option></select>
       		 </td>
       		 <td>
       		 	<label for="destino"> Destino: </label>
        		<select id="destino" ng-model = "regresion.destino"><option  ng-repeat="d in regresion.destinoArray"  >{{d}}</option></select>
       		 </td>
       		 <td>
       		 	<label>Fecha peticion hasta: </label>
       			<input calendar name = "date" id="fechasHasta"  ng-model="regresion.fechaHasta"/>
       		 </td>
       		 
       		 <tr><td><button type="submit" class="btn btn-primary" ng-click="showMenufiltrado=1; regresion.filtrado()">Filtrar</button><span> </span><span> </span><span> </span><button type="reset" ng-click="showMenufiltrado=0" class="btn btn-danger">Reset</button></td></tr>
		
		</table>
	</form>
	
	
</div>