
    <h3>Lista de operaciones seleccionadas</h3>
    <div>
      <form method="post">
        <table border="1">

                <tr><th><input type="checkbox" /></th><th>idPeticion</th><th>instrumento</th><th>Accion</th><th>origen</th></tr>
                <tr><td><input type="checkbox" /></td><td>123421</td><td>swapDeals</td><td>insert</td><td>murex</td><td>deri</td></tr>

            </table>
            <br/>
            <div class="form-group">
                <button class="btn btn-primary" >Ejecutar</button>
                <button class="btn btn-danger" >Eliminar</button>
            </div>
            
       		
		<div class="form-group">
	      <label for="nombreresultado">Nombre Resultado</label>
	      <input type="text" name="resultado" id="nombreresultado" value="" required/>
	      <INPUT TYPE=SUBMIT class="btn btn-primary" VALUE="Guardar">
	  </div> 
       		
            
      </form>
    </div>
