
    <h3>Lista de operaciones seleccionadas</h3>
    <div>
      <form method="post">
        <table border="1">

                <tr><th></th><th>idPeticion</th><th>Instrumento</th><th>Origen</th><th>accion</th></tr>
                <tr ng-repeat =" seleccionados in regresion.seleccionados"><td><button class="btn btn-danger" ng-click="regresion.borrarSeleccionado(seleccionados.idPeticion)">Eliminar</button></td><td>{{seleccionados.idPeticion}}</td><td>{{seleccionados.instrumento}}</td><td>{{seleccionados.origen}}</td><td>{{seleccionados.accion}}</td></tr>

            </table>
            <br/>
            <div class="form-group">
                <button class="btn btn-primary" >Ejecutar</button>
               
            </div>
            
       		
		<div class="form-group">
	      <label for="nombreresultado">Nombre Resultado</label>
	      <input type="text" name="resultado" id="nombreresultado" value="" required/>
	      <INPUT TYPE=SUBMIT class="btn btn-primary" VALUE="Guardar">
	  </div> 
       		
            
      </form>
    </div>
