<h3>Lista de peticiones</h3>

    <div>
      <form method="post">
        <table border="1">

                <tr><th><input type="checkbox" /></th><th>idPeticion</th><th>instrumento</th><th>Accion</th><th>origen</th><th>destino</th></tr>
                <tr><td><input type="checkbox" /></td><td>123421</td><td>swapDeals</td><td>insert</td><td>murex</td><td>deri</td></tr>

            </table>
            <br/>
            <div class="form-group">
                <button class="btn btn-primary" ng-click="showMenuConfiguration=1">Seleccionar</button>
            </div>
            
      </form>
    </div>
