<h3>Lista de peticiones</h3>

    <div>
      <form method="post">
        <table border="1">

                <tr><th><input type="checkbox" /></th><th>idPeticion</th><th>instrumento</th><th>Accion</th><th>origen</th></tr>
                <tr ng-repeat =" filtrado in regresion.peticionFiltrado">
                
                <td><input type="checkbox" /></td><td>{{filtrado.idPeticion}}</td><td>{{filtrado.instrumento}}</td><td>{{filtrado.accion}}</td><td>{{filtrado.origen}}</td></tr>

            </table>
            <br/>
            <div class="form-group">
                <button class="btn btn-primary" ng-click="showMenuConfiguration=1">Seleccionar</button>
            </div>
            
      </form>
    </div>

    
