
<div class="left">
<div>
	<h4>Resultado ejecucion</h4>
</div>
	<form method="post">

		<div class="form-group">
			<label for="nombreresultado">Nombre Resultado</label> <input
				type="text" name="resultado" id="nombreresultado" ng-model ="regresion.nombreresult" required />
			<INPUT TYPE=SUBMIT class="btn btn-primary btn-xs" VALUE="Guardar " ng-click = "regresion.guardaresultado()">
		</div>
	</form>
</div>


<div class="right">
	<div>
		<h4>Listado resultados</h4>
	</div>

	<div>
		<select id="listadoresultado" required
			ng-model="regresion.selectresult"><option
				ng-repeat="o in regresion.listadoresultado">{{o.nombre}}</option></select>
	</div>
	<br>
	<div class="form-group">
		<INPUT  TYPE=SUBMIT class="btn btn-primary btn-xs" VALUE="Visualizar" ng-click="regresion.visualizaJson()"> 
		<INPUT ng-show= "regresion.urlProfile=='Config'" TYPE=SUBMIT class="btn btn-danger btn-xs" VALUE="Eliminar">
	</div>

</div>


<div>
	<table border='1'>
		<tr>
			<td>
				<div id="json">
<!-- 				<div id="jsonviews"></div> -->
				</div>
			</td>
		</tr>
	</table>
</div>

